body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.body {
  font-family: Roboto, sans-serif;
}

.hero {
  padding: 0;
  margin: 0;
}

a {
  display: flex;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: white;
  flex-direction: column;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

button {
  border-radius: 5px;
  color: white;
  background-color: #3882f6;
  width: 120px;
  border: 2px solid #3882f6;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  color: #e5e7eb;
  flex: 1;
  height: 200px;
  margin-bottom: 100px;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero {
  color: white;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

h2 {
  text-align: center;
  padding: 10px;
}

.rounded-box {
  width: 100px;
  border: 2px solid blue;
  border-radius: 15px;
  height: 100px;
  margin: auto;
}

.main-section {
  display: flex;
  gap: 10px;
}

.subtext {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
